/***************************/
/****Style for carrousel****/
/***************************/

.slider {
    margin: 27px 20px 15px 20px;
    position: relative;

    @media screen and (min-width: 1024px) {
        margin: 0 100px;
    }

    .img-slider {
        width: 100%;
        height: 255px;
        object-fit: cover;
        border-radius: 10px;
        opacity: 1;
        transform: scale(1);
        transition: all 200ms ease-in;
        
        &.fade-out {
          opacity: 0.5;
          transform: scale(1.01);
        }

        @media screen and (min-width: 1024px) {
            height: 415px;
        }
    }

    .arrows {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        
        @media screen and (min-width: 1024px) {
            top: 35%;
        }
        
        .arrow {
            font-size: 24px;
            padding: 10px;
            
            @media screen and (min-width: 1024px) {
                cursor: pointer;
                margin: 0 5px;
                width: 96px;
                
                &:hover{
                    border-radius: 100%;
                    opacity: 0.2;
                    background-color: black;
                }
            }
        }

    }

    .slide-number {
        position: absolute;
        bottom: 5px;
        left: 45%;
        background-color: rgb(51, 51, 51, 0.3);
        font-size: 14px;
        color: #fff;
        padding: 5px;
        
        @media screen and (min-width: 1024px) {
            bottom: 3px;
            left: 49%;
            font-size: 18px;
            font-weight: 500;
        }
    }
}



